.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

  @keyframes pulse-glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.5), 0 0 30px rgba(0, 255, 255, 0.6);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 0, 0, 1), 0 0 40px rgba(255, 255, 0, 0.7), 0 0 60px rgba(0, 255, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.5), 0 0 30px rgba(0, 255, 255, 0.6);
    }
  }
  
  .bu:hover {
    color: #ff0000;
    animation: pulse-glow 1.5s infinite;
  }
  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.fulllist{
font-size: 2em;
}
.dot{
  text-align:justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.na{
  width: 55px;
  height:27px ;
margin-right: 2vw;
align-items: center;
justify-content: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bu{
  margin-left: 2vw;
}

Header{
text-align: center;
}
Footer{
  position: relative;
/* top: 40vh; */
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
